main:
  - identifier: project
    name: Projects
    url: /project/
    weight: 10
  - identifier: blog
    name: Blog
    url: /blog/
    weight: 20
  - identifier: about
    name: About
    url: /about/
    weight: 30
footer:
  - identifier: project
    name: Projects
    url: /project/
    weight: 10
  - identifier: blog
    name: Blog
    url: /blog/
    weight: 20
  - identifier: about
    name: About
    url: /about/
    weight: 30
