disqus:
  disable: true
googleAnalytics:
  disable: false
  anonymizeIP: true
  respectDoNotTrack: true
  useSessionStorage: true
instagram:
  disable: false
  simple: true
x:
  disable: false
  enableDNT: true
  simple: false
  disableInlineCSS: false
vimeo:
  disable: false
  enableDNT: true
  simple: false
youtube:
  disable: false
  privacyEnhanced: true