<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">

<head>
    {{ partial "head.html" . }}

    {{ $navbarJS := resources.Get "js/navbar.js" | minify | fingerprint }}
    <script defer src="{{ $navbarJS.Permalink }}"></script>
</head>

<body class="flex flex-col min-h-screen bg-zinc-100 dark:bg-gray-800 ">
    {{ partial "nav.html" . }}
    {{ partial "svg-sprite.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer" . }}

    {{/* Load JavaScript asynchronously to prevent main thread blocking */}}
    {{ if not .Site.Params.Disable_theme_toggle }}
    {{ $js := resources.Get "js/darkmode.js" | js.Build | minify | fingerprint }}
    <script defer src="{{ $js.RelPermalink }}"></script>
    {{ end }}
</body>

</html>