{{- $title := cond .IsHome .Site.Title (printf "%s | %s" .Title .Site.Title) -}}
{{- $desc  := .Description | default .Summary | default .Site.Params.description -}}

{{- $ogImage := "" -}}
{{ with .Resources.GetMatch (.Params.featured_image) }}
  {{ $ogImage := .Permalink }}
{{ else }}
  {{ $ogImage := .Site.Params.og_image | absURL }}
{{ end }}

<title>{{ if .IsHome }}{{ .Site.Params.description }} | {{ .Site.Title }}{{ else }}{{ partial "taxonomy-term-title.html" . }} | {{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ $desc }}">
<meta name="application-name" content="{{ $title }}">

<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="en">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:image" content="{{ $ogImage }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $desc }}">
<meta name="twitter:image" content="{{ $ogImage }}">

<meta itemprop="name" content="{{ $title }}">
<meta itemprop="description" content="{{ $desc }}">
<meta itemprop="image" content="{{ $ogImage }}">